* {
  margin: 0px;
  padding: 0px;
}

body {
  padding: 10px;
  line-height: 20px;
  font-family: arial;
}

#index-body, #board-body, #thread-body {
  background-color: #EDDFEF;
}

.replies {
  margin-left: 50px;
}

.reply {
  border: 1px dotted black;
  margin: 5px;
  padding: 5px;
}

.newReply {
  margin: 10px 5px 10px 5px;
}

.thread {
  padding: 15px;
  margin-bottom: 5px;
  background-color: #efeedf;
}

.id {
  font-size: 10.5px;
}

#user-stories {
  font-size: 10px;
}

#submitNewThread {
  margin: 50px;
}

