* {
  margin: 0px;
  padding: 0px;
}

body {
  padding: 10px;
  line-height: 20px;
  font-family: arial;
  background-image: url("./images/mountains.jpg");
  background-attachment: fixed;
  background-position: center;
}

.replies {
  margin-left: 50px;
}

.reply {
  border: 1px dotted black;
  margin: 5px;
  padding: 5px;
}

.newReply {
  margin: 10px 5px 10px 5px;
}

.thread {
  padding: 15px;
  margin-bottom: 5px;
  background-image: url("./images/mountains2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.id {
  font-size: 10.5px;
}

#user-stories {
  font-size: 10px;
}

#submitNewThread {
  margin: 50px;
}

@media (max-width: 700px) {
  #dropdownMenu,
  #userStoriesTable {
    visibility: hidden;
  }
}
